[package]
name = "voidgun-contracts"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
alloy-primitives.workspace = true
alloy-sol-types.workspace = true
thiserror.workspace = true
