[profile.default]
src = "src"
test = "test"
out = "out"
libs = ["lib"]
solc = "0.8.31"
evm_version = "osaka"
optimizer = true
optimizer_runs = 200
via_ir = true

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = false
